/* FormInput.css */
.form-container {
  display: flex;
  justify-content: center; /* Memusatkan form secara horizontal */
  align-items: center; /* Memusatkan form secara vertikal */
  height: 100vh; /* Mengatur tinggi container agar 100% dari viewport height */
}

.form-container form {
  width: 50%;
}
